@import url('menu.css');
@import url('faqs.css');
/* @import url('form-multistep-calendly.css'); */

/* Text selection highlight */
::selection {
    background-color: var(--color-scheme-1--text-selection);
    color: white;
}

::-moz-selection {
    background-color: var(--color-scheme-1--text-selection);
    color: white;
}



input::placeholder,
textarea::placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400; /* match the weight you're actually using */
}

/* Safari sometimes still needs the -webkit prefix too */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
}