@import url('menu.css');
@import url('faqs.css');
/* @import url('form-multistep-calendly.css'); */

/* Text selection highlight */
::selection {
    background-color: var(--color-scheme-1--text-selection);
    color: white;
}

::-moz-selection {
    background-color: var(--color-scheme-1--text-selection);
    color: white;
}